.field_with_errors #restaurant_name {
  border: 1px solid red;
}

body {
  font-family: helvetica, sans-serif;
  background-color: #deedf3;
}

h2 a{
  font-size: 1.5em;
  color: darkred;
}

.link  {
    text-decoration: none;
    color: darkgrey;
}

#restaurant_name, #restaurant_description {
  border: none;
  height: 20px;
  border-radius: 20px;
}
