/*body {
  font-family: helvetica, sans-serif;
  background-color: #deedf3;
}

h1 {
  font-size: 1.5em;
  color: darkred;
}

h1 a {
  color: yellow;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: darkgrey;
}

#restaurant_name, #restaurant_description {
  border: none;
  height: 20px;
  border-radius: 20px;
}*/
